$border-and-text-white: $traffic-white;
$table-background: $near-black;
$button-background: $contrast-to-yellow;
$button-border: $traffic-yellow;

$body-width: 100%;
$time-input-width: 100% / 3;
$ride-form-width: 70%;

body {
  background-image: url('public/asphalt_texture3729.jpg');
  background-position: right center;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: $body-width;
}

button {
  background-color: $button-background;
  border: 8px solid $button-border;
  border-radius: 50px;
  color: $border-and-text-white;
  height: 100px;
  margin: 10px auto;
  width: 100px;
}

.auth-input {
  display: flex;
  flex-direction: column;
}

.credentials {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

%edit-delete-btn {
  border: 3px solid $button-border;
  border-radius: 5px;
  height: 34px;
  line-height: 24px;
  margin: 3px auto;
  width: 70px;
}

.delete-btn {
  @extend %edit-delete-btn;
}

.edit-btn {
  @extend %edit-delete-btn;
}

.done-btn {
  margin: 20px;
}

.form-text {
  color: $border-and-text-white;
  font-family: 'Serpentine-MediumOblique';
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
}

.ride-form {
  width: $ride-form-width;
}

.ride-data {
  background-color: $table-background;
  border: 1px solid $border-and-text-white;
  color: $border-and-text-white;
  // display: flex;
  height: 40px;
  line-height: 40px;
  // margin: 0 -15px;
}

.full-width {
  margin: 5px auto;
  width: 100%;
}

.ride-time-input {
  padding: 0;
  width: 90%;
}

.time-input {
  margin: 5px 0;
  width: 90%;

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }
}

.user-output {
  color: $border-and-text-white;
  font-family: 'Serpentine-MediumOblique';
  font-size: 30px;
  font-weight: bold;
  height: 120px;
  letter-spacing: 3px;
  line-height: 60px;
}
