@font-face {
  font-family: 'Serpentine-MediumOblique';
  src: url('public/Serpentine-MediumOblique.otf') format('opentype');
}

$title-color: $traffic-yellow;

h1 {
  color: $title-color;
  font-family: 'Serpentine-MediumOblique';
  font-size: 80px;
}
